body {
	font: 15px;
	color: #3b3b3b;
}


h1 {
	
	background-color: #433633;
	color: #CF995F;
		
}

h2 {
	
	background-color: #DBAD6A;

}

.barra {
	
	padding-left: 10px;
}






